[Desktop Entry]
Type=Application
Name=Melete
Comment=Personal stylus-friendly notebook, journal & planner
Exec=melete-app %u
Icon=app.melete.Melete
Terminal=false
Categories=Office;
StartupNotify=true
StartupWMClass=app.melete.Melete
