[Desktop Entry]
Type=Application
Name=Melete
Comment=Personal stylus-friendly notebook, journal & planner
Exec=melete-app %u
Icon=dev.s7k.melete
Terminal=false
Categories=Office;
StartupNotify=true
StartupWMClass=dev.s7k.melete
