[Desktop Entry]
Type=Application
Name=Journal
Comment=Personal stylus-friendly journal & planner
Exec=journal-app %u
Icon=dev.s7k.journal
Terminal=false
Categories=Office;
StartupNotify=true
StartupWMClass=dev.s7k.journal
